<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe Site</title>
</head>
<body>
    <div>
      {% autoescape off %}
      You're receiving this email because you requested a password reset
for your user account.
      {% block reset_link %}
      {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token%}
      {% endblock %}
      Your username, in case you've forgotten: {{ user.get_username }}
      Thanks for using our site!
      {% endautoescape %}
    </div>
    
</body>
</html>